page-login{
    .scroll-content{
        margin-bottom: 0 !important;
    }
    .tabs{
        padding: 0 30px;
    }
    .segment-ios{
        .segment-button{
            border: 1px solid transparent;
            font-weight: 500;
            text-transform: uppercase;
            color: color($colors,dark);
            &.segment-activated{
                background-color: transparent;
                border: 1px solid #000;
            }
            &:first-of-type{
                border-top-right-radius: 2px;
                border-bottom-right-radius: 2px;
            }
            &:last-of-type{
                border-top-left-radius: 2px;
                border-bottom-left-radius: 2px;
            }
        }
    }
    .swiper-slide , .swiper-wrapper, .swiper-container, ion-slides{
        height: auto !important;
    }
    
}

.app-bg{
    @extend %main-bg;
    @extend %cover;
}
.form-content{
    background-color: color($colors,light);
    min-height: 100vh;
}
.Loginpage{
    width: 100%;
    min-height: calc(100vh - 130px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.formContainer{
    width: 100%;
    margin-top: 80px;
}
.app-form{
    h4{
        font-size: 1.2rem;
    }
    .title-form{
        font-size: 2rem;
        font-weight: normal;
        margin: 0;
    }
    .item-md{
        background-color: transparent;
    }
    .list-md{
        .item-input{
            padding-left: 0;
            &:last-child{
                padding-left: 0;
                border-bottom: 1px solid color($colors,grayColor);
            }
            .label-md{
                font-size: 1.4rem;
                margin-bottom: 5px;
            }
            &.item-input-has-focus , &.input-has-focus{
                &:last-child{
                    border-bottom-color: color($colors,twitter) !important;
                }
            }
        }
    }
    .item-block{
        border-top: 0;
        &:first-child{
            padding-left: 0;
        }
        .item-inner{
            border-bottom: 1px solid color($colors,grayColor);
        }
    }
    .text-input-md{
        margin-bottom: 3px;
        margin-left: 0px;
        font-size: 1.55rem;
    }
    .button-md{
        margin: 4rem .2rem 1rem .2rem;
    }
}
.user-name{
    display: flex;
    .item-md{
        width: 50%;
        border-bottom: none !important;
        &:nth-of-type(1){
            margin-right: 10px;
        }    
    }
}
.option-sign{
    p{
        margin-bottom: 12px;
        color: color($colors,grayColor);
    }
}
.social-media{
    width: 200px;
    height: 60px;
    background-color: transparent;
    .fab-md{
        background-color: transparent;
        box-shadow: none;
        border: 1.5px solid rgba(color($colors,grayColor),.8);
        i{
            font-size: 2.5rem;
            text-align: center;
            color: color($colors,grayColor);
            &::before{
                margin: 0 4px 0 0  !important;
                display: block;
            }
        }
    }
}
.profile-form{
    margin-top: 8px !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 9px 27px -2px rgba(0, 0, 0, 0.15), 0 2px 11px 0 rgba(0, 0, 0, 0.12);
    input::-webkit-input-placeholder{
        color: color($colors,dark) !important;
        font-size: 1.5rem;
        font-weight: 500;
    }
    .item-md{
        ion-icon{
            min-height: 1.9rem;
            font-size: 1.9rem;
            &[item-start]{
                + .item-inner{
                    margin-left: 10px;
                }
            }
        }
    }
}
.intl-tel-input{
    .flag-container{
        padding: 0;
    }
    input[type=tel]{
        padding-right: 0 !important;
        padding-left: 15px !important;
    }
    ion-input{
        position: absolute;
        left: 45px;
        top: -11px;
        min-width: 200px;
    }
}
.tabs-header{
    position: fixed;
    top: 60px;
    width: 100% !important;
    z-index: 100000;
    margin: 0 !important;
    transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
}