<ion-header>
  <ion-navbar color="twitter" hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Vos souscriptions <span *ngIf="!off">(Offline)</span></ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showNotification($event)">
        <ion-icon name="md-notifications" color="danger">{{numberOfNotifications}}</ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
  
  
  <ion-content class="card-background-page">
      <h3>Vos cours</h3>
      <div *ngIf="userCourse">
        <ion-card *ngFor="let item of userCourse ; let i=index" no-margin>
          <div (click)="goTo('ListPage',item)" *ngIf="item.authorisation">
            <img *ngIf="item.descriptImage===''" src="assets/img/big-img.png"/>
            <img *ngIf="item.descriptImage!==''" src="{{item.descriptImage}}"/>
            <ion-list class="card-title" no-margin>
              <ion-item>
                <div *ngIf="item.authorisation" class="point" item-start></div>
                <ion-label>
                  <h2 no-margin text-uppercase>{{item.title}}</h2>
                  <p>{{item.subtitle}}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </div>
        
          <div *ngIf="!item.authorisation">
            <img *ngIf="item.descriptImage===''" src="assets/img/big-img.png"/>
            <img *ngIf="item.descriptImage!==''" src="{{item.descriptImage}}"/>
            <ion-list class="card-title"  no-margin>
              <ion-item>
                <div class="pointDanger" item-start></div>
                <ion-label>
                  <h2 no-margin text-uppercase>{{item.title}}</h2>
                  <p>{{item.subtitle}}</p>
                  <p *ngIf="!item.authorisation">
                    <span color="danger">
                      (Veuillez patienter quelques minutes, votre demande d'adhésion est en cours de validation!)
                    </span>
                  </p>
                </ion-label>
              </ion-item>
            </ion-list>
          </div>
        </ion-card>
      </div>
      
      <ion-card *ngIf="!userCourse" no-margin>
        <ion-list class="card-title" no-margin>
          <ion-item color="twitter">
            <ion-label>
              <ion-icon name="ios-hand"></ion-icon>
              <h4 no-margin text-uppercase>Vous n'avez pas encore souscrit à un programme. Vous pouvez le faire dans le menu <b>home</b></h4>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card>
  
    <ion-fab right bottom>
      <button ion-fab color="twitter"><ion-icon name="md-cloud-done"></ion-icon></button>
    </ion-fab>
  </ion-content>