page-lessons-list{
    .list-card{
        margin-top: 0;
        .item-md{
            h4{
                font-size: 1.6rem;
            }
            [item-end]{
                &.item-button{
                    width: 85px;
                    height: 32px;
                    color: color($colors,dark);
                    &.redoBtn{
                        background-color: color($colors,secondary);
                    }
                }
            }
        }
    }
}
.header-list{
    margin-top: -45px !important;
    .card-md{
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
    .item-md{
            h4{
                font-size: 2rem !important;
            }
        }
}