<ion-header>
  <ion-navbar color="twitter">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Learn faster with we learning</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list class="level-list" padding-horizontal radio-group>
    <div class="app-list" *ngFor="let item of offers">
      <ion-item no-padding no-lines>
        <ion-avatar item-start>
          <img src="{{item.img}}">
        </ion-avatar>
        <ion-label>{{item.name}}</ion-label>
        <ion-radio value="{{item.name}}"></ion-radio>
      </ion-item>
      <ion-item class="sub-list" *ngFor="let object of item.subList" no-lines>
        <ion-icon name="{{object.icon}}" color="grayColor" item-start></ion-icon>
        {{object.text}}
      </ion-item>
      <div class="price" *ngIf="item.type==1">From 54.49$</div>
    </div>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="twitter" [navPush]="'ListPage'"><ion-icon name="md-arrow-forward"></ion-icon></button>
  </ion-fab>
</ion-content>