// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
%main-bg{
  background: url(../assets/img/bg.png) !important;
}
%cover{
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}
%overflow{
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
}

@font-face {
 font-family: "appFont";
 src: url("../assets/fonts/RobotoCondensed-Regular.ttf") format("opentype"); 
}


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #f1ce33,
  secondary:  #e0e0e0,
  danger:     #f53d3d,
  grayColor:  #a5a5a5,
  light:      #ffffff,
  dark:       #424242,
  twitter:    #00aced,
  facebook:   #3b5998,
  googleplus: #dd4b39
);
$popover-md-width: calc(100% - 50px); 
$popover-ios-width: calc(100% - 50px); 
$popover-wp-width: calc(100% - 50px);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$fab-size: 48px;
$fab-md-box-shadow: 3px 4px 13px 1px rgba(0, 0, 0, 0.3);

$button-md-text-color: color($colors,light);
$button-md-font-size: 1.8rem;
$button-md-font-weight:  normal;
$button-md-height: 3.3rem;
$button-md-box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0px rgba(0, 0, 0, 0.01), 0 4px 8px 0 rgba(0, 0, 0, 0.1);

$segment-button-ios-font-size: 2.2rem;
$segment-button-ios-border-radius: 2px;
$segment-button-ios-height: 3.8rem;
$segment-button-ios-line-height: 3.6rem;

$text-input-placeholder-color: color($colors,grayColor);

$toolbar-md-height: 85px;
$toolbar-md-title-font-size: 1.7rem;
$toolbar-md-padding: 10px;

$searchbar-md-input-search-icon-color: color($colors,grayColor);

$item-md-avatar-size: 45px;

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
