<ion-header >
  <ion-navbar color="twitter">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-capitalize>Discussions</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="list-content">
  <ion-list class="find-friends-list" padding-horizontal no-margin> 
    <h3 >Friends</h3>
    <ion-item showWhen="core,windows" color="secondary" style="border-radius: 10px" (click)="chatWith('ChatPage',item)" *ngFor="let item of userList2;let i=index" style='border-radius: 10px' no-lines>
      
        <ion-avatar item-start *ngIf="item.email !== email">
          <img *ngIf="item.avatar != null" src="{{item.avatar.url}}">
          <img *ngIf="item.avatar == null" src="assets/img/user-img.png">
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <p>{{item.email}}</p>
        <b><i><p>{{lastMessage[i]}}</p></i></b>
        <ion-badge color="danger" *ngIf="numberOfNotSeen[i] !== 0" item-end>{{numberOfNotSeen[i]}}</ion-badge>
        <ion-icon item-end name="chatbubbles" color="twitter"></ion-icon>
      
    </ion-item>
    <ion-item showWhen="android,ios" color="secondary" style="border-radius: 10px" (click)="chatWith('ChatPage',item)" *ngFor="let item of userList2;let i=index" style='border-radius: 10px' no-lines>
      <ion-avatar item-start>
        <img *ngIf="item.avatar != null" src="{{item.avatar.url}}">
        <img *ngIf="item.avatar == null" src="assets/img/user-img.png">
      </ion-avatar>
      <h2>{{item.name}}</h2>
      <p>{{item.email}}</p>
      last: <b><i><p>{{lastMessage[i]}}</p></i></b>
      <ion-badge color="danger" *ngIf="numberOfNotSeen[i] !== 0" item-end>{{numberOfNotSeen[i]}}</ion-badge>
      <ion-icon item-end name="chatbubbles" color="twitter"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab color="twitter" [navPush]="'UsersPage'"><ion-icon name="person-add"></ion-icon></button>
  </ion-fab>
</ion-content>
