<ion-menu [content]="content">
  <ion-header>
    <div class="menu-header" [ngStyle]="{'background-image': 'url(' + image + ')'}">
      <ion-title>{{email}}</ion-title>
    </div>
  </ion-header>

  <ion-content>
    <!--div class="courses-section card-background-page" *ngIf="!role">
      <h5>Bienvenu {{userName}} !</h5>
      <ion-list>
        <ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon name="{{p.icon}}" color="twitter" item-start></ion-icon>
          <div (click)="openPage(p)">{{p.title}}</div>
        </ion-item>
      </ion-list>
    </div-->

    <div class="courses-section card-background-page" >
      <h5>Bienvenu {{userName}} !</h5>
      <ion-list>
        <ion-item menuClose *ngFor="let p of dashboard" (click)="openPage(p)">
          <ion-icon name="{{p.icon}}" color="twitter" item-start></ion-icon>
          <div (click)="openPage(p)">{{p.title}}</div>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
