<ion-header class="list-header">
  <ion-navbar color="twitter">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mes Notes et devoirs</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="list-content" (ionScroll)="scrollingFun($event)">
  <img src="assets/img/big-img.png" class="head-img">
  <div class="list-card">
    <button align='center' (click)='submitHomework($event)' color="twitter" [disabled]="!hasAHomework" ion-button >Soumettre un devoir</button>
    <ion-card *ngFor="let item of homeworks;let i=index">
      <ion-item>
        <ion-avatar item-start>
          <img *ngIf='item.avatar!==undefined' src="{{item.avatar.url}}">
          <img *ngIf='item.avatar===undefined' src="assets/img/user-img.png">
        </ion-avatar>
        <h2 no-margin >Teacher {{item.teacher}}</h2>
        <h2>PFM : {{item.pfmName}}</h2>
        <h3>Chapter : {{item.chapterName}}</h3>
        <h3>Lecon : {{item.leconName}}</h3>
        <h5>Exercise title : {{item.exerciseName}}<span *ngIf="!item.done" color="danger">(N'oubliez de faire ce devoir)</span></h5>
        <button *ngIf="item.seen" style="border-radius: 50px;background-color:greenyellow;margin:10px;padding:10px" item-end>
          <ion-icon name="md-done-all"></ion-icon>
        </button>
      </ion-item>
      <img src="assets/img/pic3.png" class="head-img" />
      <ion-card-content>
          <div *ngIf="item.done">
            <ion-badge color="danger" ion-button item-end *ngIf="item.note===-10">Attente de correction</ion-badge>
            <ion-badge color="danger" ion-button item-end *ngIf="item.note!==-10">{{item.note}}/20</ion-badge>
            <!--div *ngIf="openComment[i]"> 
              <div *ngFor="let comment of item.comments">
                <p *ngIf="comment.author===pseudo" style="border-radius: 10px;background-color:#00aced;margin:10px;padding:10px">
                  <i>Posted : {{comment.date}}</i><br>
                  {{comment.message}}
                </p>
                <p *ngIf="comment.author!==pseudo" style="border-radius: 10px;background-color:#e0e0e0;margin:10px;padding:10px">
                  <i>Posted : {{comment.date}}</i><br>
                  {{comment.message}}
                </p>
              </div>
            </div>
            <form [formGroup]="form" (ngSubmit)="post(form.value,item,i)">
              <ion-input formControlName='comm' placeholder='commentaire'></ion-input>
              <button style="float:right;" color="twitter" ion-button >Poster</button>
            </form-->
          </div>
      </ion-card-content>
    
      <!--ion-row>
        <ion-col>
          <button color="twitter" ion-button icon-start clear small>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>{{numberOfComments[i].nbLikes}} Likes</div>
          </button>
        </ion-col>
        <ion-col>
          <button (click)='openComments(i)' color="twitter" ion-button icon-start clear small>
            <ion-icon name="text"></ion-icon>
            <div >{{numberOfComments[i].nbComments}} Comments</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <ion-note>
            11h ago
          </ion-note>
        </ion-col>
      </ion-row-->
    </ion-card>
  </div>
</ion-content>